---
description: |-
  Elasticfeed is a free and open source server for storing, processing and distributing feed pages with real time content customization.
---

<div class="home">

	<section class="belt download">
	<div class="container">
		<div class="row download-row">
		<div class="download-container">
			<h2 class="uppercase"><a href="/downloads.html">Download v<%= latest_version %></a></h2>
			</div>
		</div>
		</div>
	</div>
	</section>

</div> <!-- /.home -->
